Ax.SIS.SD.UI/Web References/KIAService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Kmieai/DMDI/data" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Kmieai/DMDI/data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Kmieai/DMDI/data">
      <s:element name="getData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HEXADECIMAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data01" type="tns:INUPUT_DATA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="INUPUT_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GET_DATA" type="tns:ArrayOfTAB_DATA_HEADER" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTAB_DATA_HEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TAB_DATA_HEADER" nillable="true" type="tns:TAB_DATA_HEADER" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TAB_DATA_HEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IVNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IVDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSHOP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IVQTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZAIVAMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZANETPR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZANETWR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCGST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSGST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZIGST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZUGST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZATCS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZHSNSAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZGSTIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEHNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EWAYBILL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNUM1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNUM2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNUM3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNUM4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNUM5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCHAR2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCHAR3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCHAR4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCHAR5" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataResult" type="tns:O_DATA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="O_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GET_DATA_01" type="tns:ArrayOfTAB_DATA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTAB_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TAB_DATA" nillable="true" type="tns:TAB_DATA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TAB_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IVNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IVDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IFFAILMSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IFRESULT" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDataSoapIn">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="getDataSoapOut">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataSoapIn" />
      <wsdl:output message="tns:getDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://Kmieai/DMDI/data/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://Kmieai/DMDI/data/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://kininvoice.kiaindia.net:81/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://kininvoice.kiaindia.net:81/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>